*{
    box-sizing: border-box;
    padding: 0;
    margin: 10;
}
.contentProduct {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    padding: 1rem;  
} 

.categoria {
    color: black;
    font-size: 1rem;
    margin-right: 15px;
}
.nombre{
    font-size: 1.2rem;
    color: orange;
    margin-right: 15px;
}
.precio {
    font-size: 1rem;
    color: blue;
    margin-right: 15px;  
}

.btnAgregar {
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid orange;
    border-radius: 15px;
    color: black;
    font-weight: 600;
}
.btnAgregar:hover{
    background-color: orange;
    color: white;
}

#productosCargados {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 1px solid orange;
    height: 50vh;
    width: 80vw;
    margin-left: 10em;
    margin-top: 3em;
    padding: 2em;
}
.cCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(251, 176, 0);
    padding: 15px;
    border-radius: 15px;
    border-radius: 2px;
    width: fit-content;
    height: 2em;
    color: #Fff;
    margin-bottom: 1em;

}
.nombreCarrito {
    font-size: 18px;
    padding-right: 5px;
}
.precioCarrito {
    font-size: 18px;
    color: rgb(44, 44, 44);
    padding-right: 5px;

}
.cantidad {
    font-size: 18px;
    padding-right: 5px;
}
.cBtn {
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
button.btnEliminar {
    width: 100%;
    padding: 5px 0px;
    background-color: transparent;
    color: rgb(251, 176, 0);
    font-size: 15px;
    font-weight: 600;
    border-radius: 15px;
    color: 1px solid black;
    margin-bottom: 1em;

}
button:hover.btnEliminar {
    width: 100%;
    padding: 5px 0px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 15px;
    color: 1px solid rgb(251, 176, 0);
}

/* PACKS */ 
#contenedorPacks {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    padding: 1rem;  
} 
.nombreP{
    font-size: 1.2rem;
    color: BLUE;
    margin-right: 15px;
}
.precioP {
    font-size: 1rem;
    color: rgb(53, 53, 58);
    margin-right: 15px;  
}

.btnAgregarP {
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid BLUE;
    border-radius: 15px;
    color: black;
    font-weight: 600;
}
#packsCargados {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 1px solid blue;
    height: 50vh;
    width: 60vw;
    margin-left: 15em;
    margin-top: 3em;
    padding: 2em;
}
/* DESAFIO COMPLEMENTARIO */ 
#contenedorEmpleados{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.cEmpleados {
    background-color: black;
    border-radius: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    color: white;
    height:8em;
    width: 8em;
    margin-bottom: 1em;
}
.empleado {
       padding-top: 1em;
}
.puesto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border:1px solid black;
    border-radius: 15px;
    padding:5px;
}